body{
    font-family: Arial, Helvetica, sans-serif;
}



.header{
    
    height: 80px;
    margin: 10px;
   
}

nav ul li{
     list-style-type: none ;
     display: inline-block;
     padding: 10px;
     
}

ul li a{ 
    color: black;
    text-decoration: none;
    
    
}
ul li a:hover{
    color: rgb(4, 89, 35);
    font-weight: bold;
}

.titre1{
     color: rgb(5, 96, 8);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: xx-large; 
}

.bouton{
    background-color: darkgreen;
    border: none; 
    color: aliceblue;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 2rem;
}

.citation h1{
  font-size:50px;
  font-weight: 100;
}

.bouton1{

    background-color: darkgreen;
    border: none; 
    color: aliceblue;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin: 2px 2px;
    border-radius: 4rem;
    text-align: center;

}

.citation{
    padding: 70px ;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 6ch;

}

.enbref{
    font-size: x-large;
    font-weight: bold;
    position: absolute;
    top: 420px;
    left: 650px;
}

.p1{
    top: 470px;
    position: absolute;
    display: flex;
    margin-left: 650px;
}

.lejardin{
    top: 800px;
    position: absolute;
    display: flex;
    font-weight: bold;
    margin-bottom: 100px;
}

.claude1{
    top: 815px;
    position: absolute;
    display: flex;
    font-weight: 100 ;


}

.ombrelle{
    top: 800px;
    position: absolute;
    display: flex;
    margin-left: 335px;
    margin-bottom: 100px;
}

.claude2{
    top: 815px;
    position: absolute;
    display: flex;
    font-weight: 100;
    margin-left: 332px;
}




.date1{
    color: rgb(4, 89, 35);
}


.violet{
    width: 330px;
}

.parapluie{
    width: 300px;
}

.jardin{
    width: 150px;  
    transition: transform 0.3s ease;  
}


.coquelicot{
    width: 150px;
    transition: transform 0.3s ease;  
}

.neige{
    width: 1450px;
}

.logo{
    width: 130px;
}


.jardin:hover{
    transform: scale(1.3) translateX(20%);;
}


.coquelicot:hover{
    transform: scale(1.3) translateX(20%);;
}


.vetheuil{
    background-color: #fafaf5;
    border-top: solid;
    border-bottom: solid;
    border-color: #DCDCDC;
    display: flex;
    font-weight: bold;

}

.textevetheuil{
    margin-left: 25px;
}

.argenteuil{
    background-color: #fafaf5;
    border-top: solid;
    border-bottom: solid;
    border-color: #DCDCDC;
    display: flex;
    font-weight: bold;

}

.texteargenteuil{
    margin-left: 25px;
}




.form-container {
    background-color: #fafaf5;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;


  }
  
  h1 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: #000;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: none;
  }
  
  input[type="text"],
  input[type="email"] {
    width: 100%;
    padding: 12px 15px;
    border: 1px solid #4b794b;
    border-radius: 25px;
    font-size: 1rem;
    box-sizing: border-box;
    outline: none;
  }
  
  input[type="text"]::placeholder,
  input[type="email"]::placeholder {
    color: #4b794b;
  }
  
  input:focus {
    border-color: #336633;
  }
  
  .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4b794b;
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 25px;
    font-size: 1rem;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    width: 100%;
  }
  
  .btn .arrow {
    margin-left: 10px;
    font-size: 1.2rem;
  }
  
  .btn:hover {
    background-color: #336633;
  }



.footer {
    background-color: #fafaf5; 
    padding: 20px 0; 
    border-top: 1px solid #ddd; 
  }
  
  .footer-container {
    max-width: 1200px; 
    margin: 0 auto; 
    padding: 0 20px; 
  }
  
  .footer-title h2 {
    font-family: 'Georgia', serif; 
    color: #4b794b; 
    margin-bottom: 20px;
    font-size: 1.8rem; 
  }
  
  .footer-content {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
    align-items: flex-start;
  }
  
  
  .footer-section {
    flex: 1; 
    min-width: 200px; 
    margin-bottom: 20px; 
  }
  
  .footer-section h3 {
    font-size: 1.1rem;
    color: #4b794b; 
    margin-bottom: 10px;
  }
  
  .footer-section p {
    font-size: 0.9rem;
    margin: 5px 0; 
    color: #333; 
  }


  
.social-icons {
    display: flex;
    gap: 10px;
  }

  .fa-brands.fa-square-facebook {
    font-size: 50px;
    transition: transform 0.3s ease;
  }
  
  .fa-brands.fa-square-facebook:hover{
    transform: scale(1.2) rotate(15deg);
}

.fa-brands.fa-square-instagram {
    font-size: 50px;
    transition: transform 0.3s ease;
  }
  
  .fa-brands.fa-square-instagram:hover{
    transform: scale(1.2) rotate(15deg);
}
  


  .footer-logo img {
    max-width: 100px; 
    border-radius: 50%; 
  }


@media screen and (max-width: 580px) {
    h1 {
        font-size: 1.8rem;
      }

      .parapluie{
        margin: auto;

      }
    
    }
