body{
    font-family: Arial, Helvetica, sans-serif;
}

p{
    color: #2713dde3;
}

.titre1{

    color: darkolivegreen;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}


.header{
    background-color: aqua;
}