body{
    font-family: Arial, Helvetica, sans-serif;
}

p{
    color: #dd1390e3;
    font-weight: bold;
}



.header{
    
    height: 80px;
    margin: 10px;
   
}

nav ul li{
     list-style-type: none ;
     display: inline-block;
     padding: 10px;
     
}

ul li a{ 
    color: black;
    text-decoration: none;
    
    
}
ul li a:hover{
    color: rgb(4, 89, 35);
    font-weight: bold;
}

.titre1{
     color: rgb(5, 96, 8);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: xx-large; 
}

.bouton{
    background-color: darkgreen;
    border: none; 
    color: aliceblue;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 2rem;
}



.lejardin{
    font-weight: bold;
}



.enbref{
    font-size: x-large;
    font-weight: bold;
}

.date1{
    color: rgb(0, 255, 0);
}


.violet{
    width: 330px;
    clip-path: inset(30px 10px 50px 0);
}

.parapluie{
    width: 300px;
}

.jardin{
    width: 150px;
    clip-path: inset(10px 0 10px 25px);
}


.coquelicot{
    width: 500px;
    clip-path: inset(50px 170px 130px 200px);
}

.neige{
    width: 1450px;
    clip-path: inset(300px 0px 470px 0px);
}

.logo{
    width: 130px;
}
