body{
    font-family: Arial, Helvetica, sans-serif;
}

p{
    color: #dd1390e3;
    font-weight: bold;
}

.titre1{

    color: darkolivegreen;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}


.header{
    background-color: aqua;
}

.lejardin{
    font-weight: bold;
}

.ombrelle{
    font-weight: bolder;
}

.enbref{
    font-size: x-large;
    font-weight: bold;
}

.date1{
    color: rgb(0, 255, 0);
}
